<%- include('basic/header'); %>
    <title>homepage</title>
    </head>

    <body>
        <h1>Wellocome to my shop~</h1>
        <a href="/products">Go To Shop</a>
    </body>


    </html>